/* ================= MOBILE NAVBAR ================= */

@media (max-width: 768px) {

    .nav-menu {
        display: none;
    }

    .nav-button {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

}